body{
    background-color: rgb(240, 238, 238);
}
.footer_list{
    display: flex;
}
#buttons i{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(239, 116, 116)
}
#buttons{
    display: flex;
    align-items: center;
}
